.container {
    margin: 0 auto;
    text-align: center;
}

.todo-list__title {
    text-transform: uppercase;
    color: rgb(252, 166, 90);
}

.button__clear {
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid rgba(248, 58, 58, 0.881);
    color: rgba(248, 58, 58, 0.881);
    padding: 5px 10px;
    cursor: pointer;
}

.form__input,
.form__button {
    border: 2px solid rgb(21, 138, 21);
    padding: 5px 10px;
    background-color: transparent;
    color: rgb(21, 138, 21);
    cursor: pointer;
}

.form__input {
    margin-top: 20px;
    font-style: italic;
}

.todo {
    cursor: pointer;
    color: rgb(19, 151, 19);
    font-style: italic;
}

.strike {
    text-decoration: line-through;
    color: gray;
}
